{% extends 'base.html' %}

{% block title %} Editar{% endblock title %}

{% block content %}
{{error}}

<main class="container">

    <div class="row">
        <div class="col-md-4 offset-md-4">

            <h1>{{tarea1.titulo}}</h1>
            <form method="POST">
                {% csrf_token %}
                {{tarea2.as_p}}

                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
            <div class="mt-5 d-flex">
                <form action="{% url 'completar_tarea' tarea1.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-success">
                        Completado
                    </button>
                </form>

                <form action="{% url 'eliminar_tarea' tarea1.id %} " method='post'>
                    {% csrf_token %}

                    <button class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>

</main>

{% endblock  %}